<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">    
            <img src="assets/adidhwani.png" alt="Adidhwani Image">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end">    
            <a href=#>Facebook Page</a>
        </div>
    </div>
</div>