<div id="footer" class="container">
    <hr/>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-end">    
            <a href=#>Copyright information</a>
        </div>
    </div>
    <hr/>
</div>