<div>
<p>
    Dr. Tirumala Rao is an Indologist who has been working at the grass-root level over the last four decades. 
    He held key positions such as Director of Publications at PSTU, Hyderabad; Director, Government Oriental 
    Manuscripts Library & Research Institute, Hyderabad. With his passionate interest for the indigenous and 
    native sections of the society he carved out a distinct career for himself.  He devotes his time pursuing 
    less trodden paths in research areas based on extensive field work; in the process, he evolved an academic 
    methodology from his fieldwork. With absolute conviction he is committed to promote the areas of parallel 
    and alternative literatures with their profound depths. The neglected, less acknowledged sections of Indian 
    societies in general, Telangana and Andhra Pradesh in particular, had envisaged gaining their lost glory 
    and recognition through his endeavor;, whether it is Gondi script, Gunjala Koyatoor Lipi, as he christened 
    it, or Jamba Puranam and many other similar works, he conceptualized the theories within and beyond the 
    'Texts', questioned the institutionalized structures of hegemony on behalf of the people.  
</p>
<p>    
    His National and International projects are based on Palmleaf manuscripts for UGC, New Delhi, and a genuine 
    pioneering project on Hakku Patras, the unique form of Cultural Right which prevailed in lower strata of 
    Indian society, for the British Library's, Endangered Archives Programme, U.K. All these efforts paved a 
    certain way for a socio-cultural philosophy to emerge from within the cultural dynamics of the down-trodden. 
    Prof. Rao dedicated his life to, philosophize this cultural dynamic. His work opens a path towards proscribed 
    literatures in Telugu, with their socio-political analytical view, which revealed dominant trends in many fields.  
</p>
<p>
    As a committed champion of these sections of society, his writings and edited works are focused on related areas. 
    He is a Poet, Critic and Columnist with indomitable spirit. His indefatigable penning covers many genres, areas 
    and interests. His column 'Tovva Mucchatlu', unswervingly unleashed many layered subjects over a period of five 
    years. He profoundly believes that without a comprehensive study of these fields, contemporary socio-cultural 
    studies would remain incomplete.
</p> 
<p>
    All this corpus of collection of materials is the source for Adi dhwani Trust. 
    Adi dhwani Trust is an off shoot of the stupendous work accomplished by Dr. Jayadhir Tirumala Rao. 
</p>      
<p>
    The work continues onto the collection of Instruments, Paper and palm leaf manuscripts and paintings and Ojha metal 
    works of gondi tribe from five states Telangana, Andhra Pradesh, Chattisgadh and Maharastra. 
</p>    
<p>
    Collection and research work team, Adi dhwani development committee is involved in work even in Corona times. 
</p>    
<p>
    The focused and committed team relentlessly works from 25 and above years in above mentioned areas. 
    To name few of them – Dr. A.K. Prabhakar, Hyderabad, Prof. G.Manoja, Paddam Anasuya, Palvoncha, Mettu Venkata Narayana, 
    Jangoan, Todasam Devrao, Utnoor and a wholesome identified team from tribal and folk areas. 
</p>    
<p>
    Efforts and endeavors of past four decades have been executed in several projects. Recent one is Mula Dhawani 
    which led to Adi dhwani and further to form a Adi dhwani Trust. 
</p>    
<p>
    Trust would like to establish an exclusive museum of these Indian indigenous Instruments.     
</p>
</div>