<h3>Adichitam</h3>
<p>
The tradition of Pat is prevalent in Indigenous and in some backward communities of Telangana. The koya tribal art of collage in Adivasi sects of koya in Telangana region called Pagides. The scrolls are alive in not less than twelve sub-castes; they are depending upon this Pat performance tradition for their livelihood. The details of these oblivion art forms are not focused and not come into light as they deserved to be. Very few know about these artistic traditions.
</p>

<p>
Thousands of years old this tradition faces many socio-economic obstacles and problems in recent times. 
</p>

<p>
Usually Nakashi folk painters, paint the Pats. The sizes of Pat(s) differ from caste to caste. In past, they were made up of pure vegetable colours. These colours are durable and lasted for 50 to 100 years. As economic conditions of the owners of the Pats are very poor, Pats are open to rain and water and heat and dust; repeated use and improper maintenance are some of the reasons for the decay of Pats.
</p>

<p>
The tradition of Pat with many hurdles and obstacles continues to survive in some places of Telangana and other regions of India but the performers are hunger bitten and often wander for their livelihood. A painter has to strive upon a pat for four to five months, look forward for the help on patron caste for all these months and at the end the remuneration he gets is very less. The number of these Nakashi painters has decreased to a very minimal number. So they could not rely upon this art to earn their livelihood.
</p>

<p>
Good number of Scrolls from Tribal and Folk communities are collected and preserved by Prof. Jayadhir Thirumala rao.
</p>

<p>
As this is socio cultural forlorn area, to identify these art forms and to work for it is needed. 
</p>

<p>
So, the proposed Exhibition displays and wishes to arrange
1.	Exhibition of 14 Pats and 04 Pagides
2.	Leather puppets 
3.	Wooden Puppets
4.	Interaction with Pat performers and with Nakashi Pat Painters and makers of Pagide Metal work of Dwakra of Gondi people
In this forth coming programme would like to exhibit all of this excellent artistic work of Indigenous people under one roof.  ¸
</p>
