#mainWindow {
    margin: 50px auto;
    border: 1px solid goldenrod;
    padding: 20px 20px 20px 20px;
    max-width: 1200px;    
}

#header .nav-pills li > a:hover,
#header .nav-pills li > a:focus {
    background-color: #9696e7;
    color: #ffffff;
}

#header .nav-pills li.active > a {
    background-color: #4747f1;
    color: #ffffff;
}
