<app-header></app-header>
<div id="header" class="container">
  <form>
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-pills">
          <li class="nav-item" (click)="setActive"><a class="nav-link" routerLink="home">Home</a></li>
          <li class="nav-item" (click)="setActive"><a class="nav-link" routerLink="about">Dr. Jayadhir Tirumal Rao</a></li>
          <li class="nav-item" (click)="setActive"><a class="nav-link" routerLink="vision">Vision & Goals</a></li>
          <li class="nav-item" (click)="setActive"><a class="nav-link" routerLink="publication">Publications</a></li>
          <li class="nav-item" (click)="setActive"><a class="nav-link" routerLink="gallery">Gallery</a></li>
          <li class="nav-item" (click)="setActive"><a class="nav-link" routerLink="events">Events</a></li>
          <li class="nav-item" (click)="setActive"><a class="nav-link" routerLink="contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </form>
</div>
<div id="mainWindow"><router-outlet></router-outlet> </div>
<app-footer></app-footer>