<h3>Adidhwani</h3>

<p>
Music is pervasive and encompasses the whole of life cycle. This eternal and phenomenal feature of music enkindles human life. More than art, music is a live entity. From ages it takes mankind in its vibrant flow. If music is distanced from our surroundings mankind turns so mechanical.  With a gush of changes, we are prone to lose the age old features from our lifestyles. Music being one of them, one should not lose the music of antiquity.
</p>

<p>
India with its variant cultural traits has largely extended the sphere of music. This inclusion of variant musical trends into the musical ocean made Indian music largely exquisite and unique in its nature. Unfortunately, some musical ways and tracks are found neglected and ignored. As a matter of fact, these tracks of music are base for the contemporary music.
</p>

<p>
These initial musical structures could not be forgotten or ignored as present classical and modern music has been developed on the basis of these musical structures. Those notes of music and the instruments of music are now relegated. Without those basic notes of music, the world of Indian music remains improper and fractional.
Mula dhwani, a musical concert was arranged on 17th and 18th march, 2019. ‘mula dhwani, a social history of tribal and folk musical instruments’ has been penned. The musical concert presented 60 instruments with 200 artistes. Mula dwani inculcated a probing inquisitiveness within society. Consequently, the art world has shown its desire and demand to put all these instruments in one centre because the dire need is felt by this section of society as most of the instruments are ‘single pieces’ with a ‘single artist’ who can play it (like Burra Veena, Karnat Kinnera etc.) We strived a lot to trace out artists and instruments. If there is an instrument artist who can play it is not alive. In some instances, artists are alive but instruments have perished.
</p>

<p>
The humane sounds and the tradition of music are lost. It is very encouraging to observe some of the groups, sub castes and sects preserved their reminiscent instruments. This collection is the result of three decades relentless field work effort as part of research.  In order to safeguard the legacy of that music stream of India we thought of picking up new artists and to inculcate interest in them to learn these traditional instruments so that they escape the ring of extinction. 
The required and needed work has not been done in the areas of tribal and folk arts. The features of modernity, urbanization, and westernization made their lives scattered. Their indigenous collection of all those things from their lifestyles has been diminishing day by day and some are lost forever. Those musical instruments along with the huge circle of art and art crafts found in their habitats were lost even without traces. 
</p>

<p>
Those instruments made by folk people are not found with them now, they lost them, and present generations are bereaved of that culture, and present youth last the line with their fore fathers and not in a condition to know about their culture. 
</p>

<p>
As part of adi dhwani we could procure articles used for Cattle, the cowry laded cloth to ornate the animals, small bells, tingling bells, so many other embellishments which generate music. This is an exclusive feature of Indian life styles. There are articles, lost their name to time, the nameless instruments, and artist less instruments from various places. It is pathetic to observe such marvelous musical traditions are waning away.    
</p>

<p>
We planned to arrange this exhibition of musical instruments ‘music of adi dwani’ as an effort to revive those rare instruments. The rare flow of music of past should continue to present day.
</p>

<p>
To share this rich musical legacy, we initiate an exhibition of adi dhwani, an exhibition of tribal & folk musical instruments of Telangana, Deccan Region’ from 9th November to 13th November 2019, at State Art gallery, madhapur, Hyderabad.
</p>

<p>
The exhibition gained much momentum and there was an invitation to arrange it at Guntur, Adi dhwani, an exhibition of rare tribal & folk music instruments from 25th Feb to 29th 2020 at Sri Venkateswara Swamy Temple,  Annamaiah Street, 5th lane, Brindavan gardens, Guntur, Andhra pradesh.
</p>