<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <img class="d-block w-50" src="assets/jayadhir.jpg" alt="Dr. Jayadhir Tirumala Rao" />
        </div>
        <div class="col-md-9 col-lg-9">
        Dr. Tirumala Rao is an Indologist who has been working at the grass-root level over the last four decades. 
        He held key positions such as Director of Publications at PSTU, Hyderabad; Director, Government Oriental 
        Manuscripts Library & Research Institute, Hyderabad. With his passionate interest for the indigenous and 
        native sections of the society he carved out a distinct career for himself.  
        <a href="/about">More</a>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">    
            <!-- <div id="carouselAdidhwani" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover" data-wrap="true">
                <div class = "carousel-inner">
                    <div class = "carousel-item active">
                        <img class="d-block w-50" src="assets/carousel/adidhwani/IMG_20200226_172427.jpg"/>
                        <div class="carousel-caption">
                            <h3>Adidhwani</h3>
                        </div>
                    </div>
                </div>
            </div> -->
            <a href="/adidhwani">Adi dhwani</a>
        </div>
        <div class="col-md-4 col-lg-4">    
            <a href="/muladhwani">Mula dhwani</a>
        </div>
        <div class="col-md-4 col-lg-4">    
            <a href="/adichitram">Adi Chitram</a>
        </div>
    </div>
</div>