<h3>Muladhwani</h3>
<p>
Mula Dhwani is connotative of the sound of roots--- Mula, the root place and Dhwani, the sound.
</p>

<p>
To pay heed to those sounds of roots and to enter into the world of that distinct music is cumbersome task. It involves a unique and stern attention along with a soulful heart and keen ear.  The pioneer of Mula Dhwani, Prof. Jayadhir Thirumalrao initiated the work four and half decades ago. 
</p>

<p>
The first phase of the research has begun with the Oral Narratives, which are not in written format, were focused to be preserved and safeguarded as the narratives represent a particular section of society. The people are assumed to be un- lettered. Yet, research proved that the Oral Narratives contain deconstructive mode of main stream literatures, which stand as table turning element in the related areas of study. 
</p>
<p>
In second phase focus of study, thus, turned to the Text of the narrative which is still on the tongues of people. To safeguard the representative Text in Oral format into written form has been taken up. Preserving methods, four decades ago, were not as convenient as that of present times. Yet, work and efforts lasted up till now.
The third phase of study turned to explore the music inherent to these Oral Texts. To observe and understand the integral importance of music paved the way to Mula Dhwani. 
</p>
<p>
Music lies surreptitiously in oral narratives and with those artists within the communities they belong to. This music is phenomenal signatory feature of their identity. Observation as part research revealed that there are rare and unique musical instruments with the artists. The musicians who can play these indigenous instruments are scattered here and there and there is no specific available data of these indigenous instruments and musicians. Once the musician perishes the musical instrument would also be lost. If the instrument ceases to be in vogue, the musician is handicapped. From that musical treasures grove, many of the instruments have come to extinction with the lapse of time and some are neglected and some are lost. 
</p>

<p>
Mula Dhwani initiated to take out these exogenous instruments and to make them present to present generations. These artists have preserved their musical legacy against all odds throughout the years. Team of Mula Dhwani felt that it is a social responsibility to catch up the last generation of artists before they are lost into the time. The music must echo for the future generations, else we lose an integral section of music terrain. To understand the wholesomeness of Indian music one must concentrate on this musical heritage too. 
</p>

<p>
To put all these relics of music on one platform, at a time, has never been occurred. We cherish to bring forth the unearthed music. Mula Dhwani planned a two day concert on 17th - 18th of March 2019, and one day seminar entitled `Tribal and Folk music heritage of India' on 19th March, 2019 in Osmania University, Hyderabad. The two day concert included the rare, neglected and endangered instruments like burraveena, kikri, twelve lute stop kinnera, and kaddi vadyams.
</p>

<p>
 Mula Dhwani concert consisted of wind, percussion, solid and stringed instruments, and two hundred instrumentalists, with their musical extravaganza. Mula Dhwani wished this native music concert to be remembered as an exemplifying symphony at national level as a comprehensive tribal and folk music fusion. It should also be remembered as sensory feast as this music is part of music culture of this region from generations. 
</p>

<p>
This is an experimental effort wherein we have traced and picked up the ancient instruments to be played in modem times. This is a musical pageantry to fuse tribal and folk music. Mula Dhwani longs and cherishes that the glorious musical past should descend to present and should lead that musical legacy towards future. The marginalized, unacknowledged music should be acknowledged and popularized. The purpose and aim of Mula Dhwani is to make the neglected, forgotten music known to the world. It was a soothing experience that Mula Dhwani could capture and instill the spirit of Indian indigenous music, and created awareness regarding loosing music in societies, where artistes are helpless and baffled with the changed social structures in modern times. In past artists were patronized with due respect for their art. It was a social responsibility to take care of the artist in order to save the art. The interdependent nature in society always has taken care of the satellite, sub caste multi layered structures of artisans, artists, musicians, performers, story tellers, narrative\ ballad singers, and magicians effectively.  The ripples of music created by Mula Dhwani are felt by academicians from allied subjects, researchers, social thinkers and so on.
</p>

<p>
In recent phase the idea of music, from the players and artists, has extended to musical instruments, which are on the verge of extinction. The main seedling idea to preserve and to conserve the music along with musician and musical instrument has been surfaced. Pleasantly enough, it has leaded the way to Adi Dhwani.
</p>